<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='image.jpg') }}">
    <title>Phishing URL Detection</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <style>
        .container {
            margin-top: 50px;
        }
        .toggle-icon {
            cursor: pointer;
            margin-right: 10px;
        }
        .card-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <div class="container" style="max-width: 700px">
        <div class="text-center">
            <img src="{{ url_for('static', filename='image.jpg') }}" alt="Phishing URL Detection Logo" class="img-thumbnail" width="200px" height="200px"/>
        </div>
        
        <h1 class="text-center mb-4">Phishing URL Detection</h1>
        <form id="urlForm" class="form-inline justify-content-center mb-4">
            <div class="form-group">
                <input type="url" id="url" name="url" placeholder="Enter URL" class="form-control mr-2" required>
            </div>
            <button type="submit" class="btn btn-primary">Check</button>
        </form>

        <div id="loadingSpinner" class="text-center" style="display:none;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p>Processing your request, please wait...</p>
        </div>

        <div id="results" class="collapse">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title" id="resultText"></h2>
                </div>
            </div>

            <div class="card mb-3" data-toggle="collapse" href="#featureExplanation" role="button" aria-expanded="false" aria-controls="featureExplanation">
                <div class="card-body">
                    <h3 class="card-title">
                        <span>Explanation of Features</span>
                        <i class="toggle-icon fas fa-chevron-right"></i>
                    </h3>                    
                    <ul class="collapse" id="featureExplanation">
                        <li><strong>-1</strong>: Potentially Malicious.</li>
                        <li><strong>0</strong>: Suspicious.</li>
                        <li><strong>1</strong>: Likely Safe.</li>
                    </ul>
                </div>
            </div>
            
            <div class="card" data-toggle="collapse" href="#extractedFeatures" role="button" aria-expanded="false" aria-controls="extractedFeatures">
                <div class="card-body">
                    <h3 class="card-title">
                        <span>Extracted Features</span>
                        <i class="toggle-icon fas fa-chevron-right"></i>
                    </h3>                    
                    <div class="table-responsive collapse" id="extractedFeatures" >
                        <table class="table table-striped" id="featuresTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Feature</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody id="featuresList">
                                <!-- Dynamic content will be injected here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='function.js') }}"></script>

    <!-- Font Awesome for toggle icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

</body>
</html>
