<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing URL Detection</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="text-center">
            <img src="{{ url_for('static', filename='image.jpg') }}" alt="Phishing URL Detection Logo" class="img-thumbnail" width="200px" height="200px"/>
        </div>
        
        <h1 class="text-center mb-4">Phishing URL Detection</h1>
        <form method="POST" action="/" class="form-inline justify-content-center mb-4" id="urlForm">
            <div class="form-group">
                <input type="url" id="url" name="url" placeholder="Enter URL" class="form-control mr-2" required>
            </div>
            <button type="submit" class="btn btn-primary">Check</button>
        </form>

        <div id="results" class="{% if not url %} collapse {% endif %}">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Results for: {{ url }}</h2>
                    {% if "not reachable" in prediction %}
                        <p class="card-text text-danger"><strong>{{ prediction }}</strong></p>
                    {% elif "flagged as dangerou" in prediction %}
                        <p class="card-text text-danger"><strong>{{ prediction }}</strong></p>
                    {% else %}
                        <p class="card-text"><strong>Prediction:</strong> {{ prediction }}</p>
                        <p class="card-text"><strong>Probability of being a phishing site:</strong> {{ y_pro_phishing * 100 }}%</p>
                        <p class="card-text"><strong>Probability of being a safe site:</strong> {{ y_pro_non_phishing * 100 }}%</p>
                    {% endif %}
                </div>
            </div>

            {% if features %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Explanation of Features:</h3>
                    <ul>
                        <li><strong>-1</strong>: Potentially malicious URL.</li>
                        <li><strong>0</strong>: Suspicious URL.</li>
                        <li><strong>1</strong>: Likely benign URL.</li>
                    </ul>
                    <h3 class="card-title">Extracted Features:</h3>
                    <div class="table-responsive">
                        <table class="table" id="featuresTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Feature</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set feature_labels = [
                                    'Using IP', 'Long URL', 'Short URL', 'Symbol @', 'Redirecting //', 'Prefix/Suffix',
                                    'Sub Domains', 'HTTPS', 'Domain Registration Length', 'Favicon', 'Non-Standard Port',
                                    'HTTPS Domain URL', 'Request URL', 'Anchor URL', 'Links in <\script> tags',
                                    'Server Form Handler', 'Info Email', 'Abnormal URL', 'Website Forwarding', 'Status Bar Customization',
                                    'Disable Right Click', 'Using Popup Window', 'Iframe Redirection', 'Age of Domain',
                                    'DNS Recording', 'Website Traffic', 'Page Rank', 'Google Index', 'Links Pointing to Page',
                                    'Stats Report'
                                ] %}
                                {% for label, feature in feature_labels|zip(features) %}
                                <tr>
                                    <td>{{ label }}</td>
                                    <td>
                                        {% if feature == -1 %}
                                            <span class="text-danger">No</span>
                                        {% elif feature == 0 %}
                                            <span class="text-warning">Maybe</span>
                                        {% elif feature == 1 %}
                                            <span class="text-success">Yes</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</body>
</html>